/* ====================================================
            ******** Fonts *********
==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope&display=swap');
/* ====================================================
            ******** Fonts *********
==================================================== */


/* ====================================================
            ******** utilities *********
==================================================== */
body{
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    background-color: #434343;
}
.player-bg-primary{
    background-color: #000000;
}
.player-bg-secondary{
    background-color: #0D0D0D;
}
.player-text-secondary{
    color: #B3B3B3;
}
/* ====================================================
            ******** utilities *********
==================================================== */



/* ====================================================
            ******** Top-banner *********
==================================================== */
.top-banner-title{
    font-family: 'Berkshire Swash', cursive;
    color: rgba(255, 94, 25, 1);
    font-size: 4.75rem;
}
.top-banner-line-marker{
    position: relative;
    top: -7%;
    right: -75%;
}
.player-bg-top-banner-right{
    background-image: url('/images/top-banner-right-background.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right 0 bottom 0;
}
/* ====================================================
            ******** Top-banner *********
==================================================== */

/* ====================================================
            ******** Player Selection *********
==================================================== */
.dot-separator{
    font-size: 5px;
    vertical-align: middle;
}